<ul class="domains">
	<li *ngFor="#domain of domains"
		[class.selected]="domain === selectedDomain"
		data-open="details-modal"
		(click)="onSelect(domain)">
		<span class="label">{{domain.id}}</span> {{domain.name}}
	</li>
</ul>
<div *ngIf="selectedDomain">
	<h2>{{selectedDomain.name | uppercase}}</h2>
	<p>ID: {{selectedDomain.id}}</p>
	<button (click)="gotoDetails()">View Details</button>
	<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
</div>